# env
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Site media
data/

# Sources
src/

# Unit test / coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Vagrant
.vagrant

# PyCharm IDE
.idea/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Eclipse
.settings/

# Rope
.ropeproject

# Sublime-Text:
/*.sublime-project
/*.sublime-workspace

# TextMate 2
.tm_properties

# VS Code
.vscode

# Mac Os
.DS_Store

# Temp files
*~
.~lock*

# Swap files
*.sw[po]

# Development nginx conf
docker/files/etc/nginx/ssl/*
!docker/files/etc/nginx/ssl/ssl.conf.tpl
