# Open edX extended: dependencies

# ==== xblocks ====

configurable_lti_consumer-xblock==1.2.3

# ==== Fonzie ====

fonzie==0.2.0


# ==== third-party apps ====

raven==6.9.0
django-redis-sessions==0.6.1
